extends layout

block content
  h1 Авторизуйтесь, щоб дивитись контент

  //- JWT Login
  div#jwt-login
    h2 Login with JWT
    form#jwtForm
      input#jwtEmail(type="text" name="email" placeholder="Enter email" required)
      input#jwtPassword(type="text" name="password" placeholder="Enter password" required)

      button(type="submit") Login (JWT)

    form(action="auth_jwt/register" method="get")
      button(type="submit") Зареєструватися

  div#messages



