extends layout

block content
  h1 Login Page

  //- JWT Login
  div#jwt-login
    h2 Login with JWT
    form#jwtForm
      input#jwtName(type="text" name="name" placeholder="Enter name")
      button(type="submit") Login (JWT)

  //- Passport Login
  div#passport-login
    h2 Login with Passport
    form#passportForm
      input#passportName(type="text" name="name" placeholder="Enter username")
      input#passportPassword(type="password" name="password" placeholder="Enter password")
      button(type="submit") Login (Passport)


  div#messages

  div.main-page
    a.back-button(href=`/articles`) Статті
    a.back-button(href=`/users`) Список користувачів

