doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="icon", href="/favicon.ico", type="image/x-icon")


  body
    div.theme
      button(data-theme="light") Світла
      button(data-theme="dark") Темна
    block content
    script(src="/javascript/themeClick.js")
    script(src="/javascript/login.js")