extends layout

block content
    h1 Статистика статей

    if stats.length
        table
            thead
                tr
                    th Автор
                    th Кількість статей
            tbody
                each stat in stats
                    tr
                        td #{stat._id}
                        td #{stat.totalArticle}
    else
        p Немає статистики для відображення.

    a.back-button(href="/articles") Назад до статей
